{% extends 'base.html'%}
{% load static %}
{% load mptt_tags %}
{% block title %} {{title}} {% endblock %}
{% load currency %}
{% block content %}
<section>
	<!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/category/{{ product.category.id }}/{{ product.category.slug }}">{{ product.category.title }}</a></li>
                <li class="active">{{ product.title }}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <div class="container">
        <div class="row">
	{%	include 'left.html' %}

    <div class="col-sm-9 padding-right">
		<div class="product-details"><!--product-details-->
			<div class="col-sm-5">
				{% if variant.image_id > 0 %}
					<div class="view-product">
						<img src="{{ variant.image }}" alt="" style="height: 200px">
						<h3>ZOOM</h3>
					</div>
				{% else %}
					<div class="view-product">
						<img src="{{ product.image.url }}" alt="" style="height: 200px">
						<h3>ZOOM</h3>
					</div>
				{% endif %}



				<div id="similar-product" class="carousel slide" data-ride="carousel">

					  <!-- Wrapper for slides -->
						<div class="carousel-inner">
							{% for item in images %}
								{% if forloop.counter == 1 %}
								<div class="item active">
								  <a href=""><img src="{{item.image.url}}" alt="" width="100" height="60"></a>
								{% else %}
									<a href=""><img src="{{item.image.url}}" alt="" width="100" height="60"></a>
									{% if forloop.counter == 3 %}
									</div><div class="item">
									{% endif %}
								{% endif %}
							{% endfor %}
								</div>
						</div>

					  <!-- Controls -->
					  <a class="left item-control" href="#similar-product" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					  </a>
					  <a class="right item-control" href="#similar-product" data-slide="next">
						<i class="fa fa-angle-right"></i>
					  </a>
				</div>

			</div>
			<div class="col-sm-7">
				<div class="product-information"><!--/product-information-->
					{% if messages %}
						{% for message in messages %}
						<div class="alert alert-{{message.tags}}" role="alert">
							{{ message }}
						</div>
						{% endfor %}
					{% endif %}

					<small class="newarrival new">New</small>
					<small class="newarrival sale">-20%</small>
					<h2>{{product.title}}</h2>
					<p>Web ID: {{product.id}}</p>
					<div>
					<div class="product-rating">
						<i class="fa fa-star{% if product.avaregereview < 1 %}-o empty{% endif%}"></i>
						<i class="fa fa-star{% if product.avaregereview < 2 %}-o empty{% endif%}"></i>
						<i class="fa fa-star{% if product.avaregereview < 3 %}-o empty{% endif%}"></i>
						<i class="fa fa-star{% if product.avaregereview < 4 %}-o empty{% endif%}"></i>
						<i class="fa fa-star{% if product.avaregereview < 5 %}-o empty{% endif%}"></i>
						{{ product.avaregereview |stringformat:".2f"}}
					</div>
					<a href="#tab1"> {{ product.countreview}}  Review(s) / Add Review</a>
					</div>


					<script>
                                $(document).on('change', '#post-form',function(e){
                                    e.preventDefault();
                                    $.ajax({
                                        type:'POST',
                                        url:'{% url "ajaxcolor" %}',
                                        data:{
                                            productid:$('#productid').val(),
                                            size:$('#size').val(),
                                            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                                            action: 'post'
                                        },
                                        data_type : 'html',
                                        success: function (data) {
                                            console.log("success");
                                            $('#appendHere').html(data.rendered_table);
                                        },
                                        error: function (data) {
                                            alert("Got an error dude " + data);
                                        }
                                    });
                                });
                            </script>


                            <div class="product-btns">
                                <div class="row">
                                    {% if product.variant == 'Size-Color' %}

                                        <div class="product-options" >
                                            <div class="size-option">
                                                <form method="POST" id="post-form">
                                                    <input type="hidden" name="productid" id="productid" value="{{ product.id }}">
                                                    <span class="text-uppercase">Size :</span>
                                                    {% csrf_token %}
                                                    <select name="size" id="size">
                                                        {% for rs in sizes %}
                                                            <option {% if variant.size_id == rs.size_id %} selected {% endif %} value="{{ rs.size_id }}">{{ rs.size.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </form>
                                            </div>

                                            <form method="post" action="?q=selectvariant" id="post-color">
                                                {% csrf_token %}
                                                <div id="appendHere">
                                                    <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                                    <ul class="color-option" >
                                                        <li><span class="text-uppercase">Color:</span></li>
                                                        {% for rs in colors %}
                                                            <input type="radio"  {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                                                            <li  {% if variant.id == rs.id %} class="active" {% endif %}>
                                                                <a style="background-color:{{ rs.color.code }}; color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">
                                                                    {{ rs.price }}  {{ rs.color }}
                                                                </a>
                                                                <img src="{{ rs.image }}" style="height: 70px">
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </form>
                                        </div>


                                    {% elif product.variant == 'Size' %}
                                        <form method="post" action="?q=selectvariant" id="post-color">
                                            {% csrf_token %}
                                            <div id="appendHere">
                                                <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                                <ul class="color-option" >
                                                    <li><span class="text-uppercase">Size:</span></li>
                                                    {% for rs in sizes %}
                                                        <input type="radio"  {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                                                        <li  {% if variant.id == rs.id %} class="active" {% endif %}>
                                                            <a style=" color: #204d74;  width: 90px">
                                                                ${{ rs.size }}<br> {{ rs.price }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </form>
                                        <br><br>

                                    {% elif product.variant == 'Color' %}
                                        <form method="post" action="?q=selectvariant" id="post-color">
                                            {% csrf_token %}
                                            <div id="appendHere">
                                                <input type="hidden" name="size" id="size" value="{{ size_id }}">
                                                <ul class="color-option" >
                                                    <li><span class="text-uppercase">Color:</span></li>
                                                    {% for rs in colors %}
                                                        <input type="radio"  {% if variant.id == rs.id %} checked {% endif %} name="variantid" id="variantid" value="{{ rs.id }}" onchange="this.form.submit();">
                                                        <li  {% if variant.id == rs.id %} class="active" {% endif %}>
                                                            <a style="background-color:{{ rs.color.code }}; color: #D9D9D9; text-shadow: 1px 1px #000000; width: 90px">
                                                                {{ rs.price }}  {{ rs.color }}
                                                            </a>
                                                            <img src="{{ rs.image }}" style="height: 70px">
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                        </form>
                                        </div>
                                    {% endif %}

                            {% if  product.variant != 'None'   %}
                                <form action="/order/addtoshopcart/{{ product.id }}" method="post"  id="addchart-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="variantid" id="variantid" value="{{ variant.id }}">
                                    <div id="SelectedProduct">
                                        <p><strong>Availability:</strong> {% if variant.quantity > 0  %} In Stock {% else %} Out of Stock {% endif %}</p>
                                        <p><strong>Selected :</strong> Size : {{ variant.size }}  Color : {{ variant.color }} </p>
                                        <h3 class="product-price">{{ variant.price|currency:request.session.currency}} {{ request.session.currency }}</h3>
                                        <div class="qty-input">
                                            <span class="text-uppercase">QTY: </span>
                                            <input class="input" name="quantity" type="number" value="1" min="1" max="{{ variant.quantity }}">
                                            <button type="submit" {% if variant.quantity < 1  %} disabled {% endif %} class="primary-btn add-to-cart">
                                                <i class="fa fa-shopping-cart"></i> Add to Cart
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            {% else %}

                                <form action="/order/addtoshopcart/{{ product.id }}" method="post"  id="addchart-form">
                                    {% csrf_token %}
                                    <div id="SelectedProduct">
                                        <p><strong>Availability:</strong> {% if product.amount > 0  %} In Stock {% else %} Out of Stock {% endif %}</p>
                                        <h3 class="product-price">{{ product.price }} </h3>
                                        <div class="qty-input">
                                            <span class="text-uppercase">QTY: </span>
                                            <input class="input" name="quantity" type="number" value="1" min="1" max="{{ product.amount }}">
                                            <button type="submit" {% if product.amount < 1  %} disabled {% endif %} class="primary-btn add-to-cart">
                                                <i class="fa fa-shopping-cart"></i> Add to Cart
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            {% endif %}
                        </div>
                        <br>





					<a href=""><img src="{% static '' %}images/product-details/share.png" class="share img-responsive"  alt="" /></a>
				</div><!--/product-information-->
			</div>
		</div><!--/product-details-->

		<div class="category-tab shop-details-tab"><!--category-tab-->
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
<!--					<li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>-->
<!--					<li><a href="#tag" data-toggle="tab">Tag</a></li>-->
					<li><a href="#reviews" data-toggle="tab">Reviews ({{product.countreview}})</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade active in" id="details" >
					{{ product.detail|safe}}
				</div>
				<div class="tab-pane fade" id="reviews" >
					<div class="col-sm-12">
						{% for comment in comments %}
						<ul>
							<li><a href=""><i class="fa fa-user"></i>{{comment.user.first_name}}</a></li>
							<li><a href=""><i class="fa fa-clock-o"></i>{{comment.created_at}}</a></li>
							<li><a href=""><i class="fa fa-calendar-o"></i>{{comment.created_at}}</a></li>
						</ul>
						<p>{{comment.comment}}</p>
						<i class="fa fa-star{% if comment.rate < 1 %}-o empty{% endif %}"></i>
						<i class="fa fa-star{% if comment.rate < 2 %}-o empty{% endif %}"></i>
						<i class="fa fa-star{% if comment.rate < 3 %}-o empty{% endif %}"></i>
						<i class="fa fa-star{% if comment.rate < 4 %}-o empty{% endif %}"></i>
						<i class="fa fa-star{% if comment.rate < 5 %}-o empty{% endif %}"></i>

						<p><b>Write Your Review</b></p>
						{% endfor %}
						{% if messages %}
							{% for message in messages %}
							<div class="alert alert-{{message.tags}}" role="alert">
								{{ message }}
							</div>
							{% endfor %}
						{% endif %}
						<form action="/product/addcomment/{{product.id}}" method="post">
							{% csrf_token %}

							<input name="subject" type="text" placeholder="Your Subject"/>

							<textarea name="comment" ></textarea>
							<b>Rating: </b>
							<select name="rate" id="rate">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>

							</select>
							{% if user.id is not None %}
							<button class="btn btn-default pull-right mt-2">
								Submit
							</button>
							{% else %}
								You must be logined into blog a review
							{% endif %}
						</form>
					</div>
				</div>

			</div>
		</div><!--/category-tab-->
		{% include 'recommended_items.html' %}

	</div>
		</div>
	</div>
</section>
{% endblock %}