{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>USER PANEL</h3>
                <p><a href="{% url 'userprofile' %}">User Profile</a></p>
                <p><a href="{% url 'user_orders' %}">My Orders</a></p>
                <p><a href="{% url 'user_order_product' %}">My Order Product</a></p>
                <p><a href="{% url 'user_comments' %}">My Comment</a></p>
                <p><a href="#">My Favorites</a></p>
                <p><a href="#">My Products</a></p>
                <p><a href="{% url 'logout' %}">Logout</a></p>
            </div>
            <div class="col-sm-9">
                <div class="row profile">
                    <h3/>USER COMMENTS</h3>
                    <table class="shopping-cart-table table">
                        <tr>
                            <th class="text-left">Product </th>
                            <th class="text-left">Rate </th>
                            <th class="text-left">Subject </th>
                            <th class="text-left">Comment </th>
                            <th class="text-left">Status </th>
                            <th class="text-left">Date </th>
                            <th class="text-left">Detail </th>
                        </tr>
                        {% for rs in comments %}
                            <tr>
                                <td class="text-left">
                                    <a href="/product/{{ rs.product_id }}/{{ rs.product.slug }}">
                                        <strong> {{ rs.product.title}}</strong>
                                    </a>
                                </td>
                                <td class="text-left">{{ rs.rate}} </td>
                                <td class="text-left">{{ rs.subject}} </td>
                                <td class="text-left">{{ rs.comment}} </td>
                                <td class="text-left">{{ rs.status}} </td>
                                <td class="text-left">{{ rs.create_at}} </td>
                                <td class="text-left">
                                    <a class="btn btn-primary" href="/user/deletecomment/{{ rs.id }}" onclick="return confirm('Will be Delete ! Are you sure?')"><i class="fa fa-trash" aria-hidden="true"></i> Delete </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>

            </div>
        </div>
    </div>
{% endblock %}