{% extends 'base.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>USER PANEL</h3>
                <p><a href="{% url 'userprofile' %}">User Profile</a></p>
                <p><a href="{% url 'user_orders' %}">My Orders</a></p>
                <p><a href="{% url 'user_order_product' %}">My Order Product</a></p>
                <p><a href="{% url 'user_comments' %}">My Comment</a></p>
                <p><a href="#">My Favorites</a></p>
                <p><a href="#">My Products</a></p>
                <p><a href="{% url 'logout' %}">Logout</a></p>
            </div>
            <div class="col-sm-9">
                <div class="row profile">
                    <h3/>USER PROFILE</h3>

                    <div class="col-sm-5"><a href="{% url 'user_update' %}" class="btn btn-primary">UPDATE PROFILE</a>&nbsp;<a href="{% url 'user_password' %}" class="btn btn-primary">CHANGE PASSWORD</a></div><div class="col-sm-7"><img src="{{profile.image.url}}" width="100"></div>
                    <div class="col-sm-4">Full name</div><div class="col-sm-8">{{profile.user.first_name}}</div>
                    <div class="col-sm-4">E-mail</div><div class="col-sm-8">{{profile.user.email}}</div>
                    <div class="col-sm-4">Phone</div><div class="col-sm-8">{{profile.phone}}</div>
                    <div class="col-sm-4">Address</div><div class="col-sm-8">{{profile.address}}</div>
                    <div class="col-sm-4">City</div><div class="col-sm-8">{{profile.city}}</div>
                    <div class="col-sm-4">Country</div><div class="col-sm-8">{{profile.country}}</div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}